.venv/
__pycache__/
*.pyc
.uv-cache/


**/.terraform/*

*.tfstate
*.tfstate.*

.terraform.tfstate.lock.info

crash.log
crash.*.log

*.tfvars
*.tfvars.json

!example.tfvars
!terraform.tfvars.example

.terraformrc
terraform.rc

*.tfplan

.DS_Store
